

ion-card {
    width: 450px;
    text-align: center;
    align-content: center;
    align-self: center;
}

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  