ion-split-pane {
    --side-max-width: 10%;
}

ion-menu, ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

.titulo {
    font-size: x-large;
    font-weight: 500;
}

.contenido-titulo {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ion-list-header {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}