<app-header titulo="CONTACTO"></app-header>

<ion-content>

  <ion-card>
    <ion-grid>
  
      <ion-row>
        <ion-col class="centrado" size="4">
          <b>Dirección</b>
        </ion-col>
        <ion-col size="8">
          Calle Raúl Rangel Frías #315, Col. Loma de Huajuquito, CP 67300, Municipio de Santiago, N.L.
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="centrado" size="4">
          <b>Teléfono</b>
        </ion-col>
        <ion-col size="8">
          <p>811-587-3238</p>
          <p>81-8378-5351</p>
          <p>01-800-999-80-80</p>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-card>

  <app-map></app-map>
  
</ion-content>

<app-footer></app-footer>